-- MySQL dump 10.13  Distrib 9.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: godifa1
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `blog`
--

DROP TABLE IF EXISTS `blog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blog` (
  `blogID` int NOT NULL AUTO_INCREMENT,
  `title` varchar(200) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `content` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `date` datetime NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'Trß║íng th├íi: 1 = Hoß║ít ─æß╗Öng, 0 = ─É├ú kh├│a',
  PRIMARY KEY (`blogID`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blog`
--

LOCK TABLES `blog` WRITE;
/*!40000 ALTER TABLE `blog` DISABLE KEYS */;
/*!40000 ALTER TABLE `blog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cart`
--

DROP TABLE IF EXISTS `cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart` (
  `cartID` int NOT NULL,
  `customerID` int NOT NULL,
  PRIMARY KEY (`cartID`),
  KEY `fk_cart_user` (`customerID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart`
--

LOCK TABLES `cart` WRITE;
/*!40000 ALTER TABLE `cart` DISABLE KEYS */;
INSERT INTO `cart` VALUES (1,1),(2,2),(3,3);
/*!40000 ALTER TABLE `cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cart_items`
--

DROP TABLE IF EXISTS `cart_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart_items` (
  `cartID` int NOT NULL,
  `productID` int NOT NULL,
  `quantity` int NOT NULL,
  `price` decimal(10,0) NOT NULL,
  PRIMARY KEY (`cartID`,`productID`),
  KEY `fk_cartItems_product` (`productID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart_items`
--

LOCK TABLES `cart_items` WRITE;
/*!40000 ALTER TABLE `cart_items` DISABLE KEYS */;
INSERT INTO `cart_items` VALUES (1,1,2,700000),(1,7,1,70000),(2,2,1,440000),(2,13,3,185000),(3,18,1,270000);
/*!40000 ALTER TABLE `cart_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category` (
  `categoryID` int NOT NULL AUTO_INCREMENT,
  `categoryName` varchar(150) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1=Active, 0=Inactive',
  PRIMARY KEY (`categoryID`)
) ENGINE=MyISAM AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category`
--

LOCK TABLES `category` WRITE;
/*!40000 ALTER TABLE `category` DISABLE KEYS */;
INSERT INTO `category` VALUES (1,'Thß╗▒c phß║⌐m chß╗⌐c n─âng',1),(2,'Mß╗╣ phß║⌐m',1),(3,'Phß╗Ñ kiß╗çn - L├ám ─æß║╣p',1),(4,'Mß║╣ & B├⌐',1),(5,'Gia dß╗Ñng',1),(8,'├ídasd',1);
/*!40000 ALTER TABLE `category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat`
--

DROP TABLE IF EXISTS `chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat` (
  `chatID` int NOT NULL AUTO_INCREMENT,
  `conversation_ID` int NOT NULL,
  `chatContent` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `sender_ID` int NOT NULL,
  `senderType` enum('customer','user') CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `isRead` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`chatID`),
  KEY `fk_chat_conversation` (`conversation_ID`)
) ENGINE=MyISAM AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat`
--

LOCK TABLES `chat` WRITE;
/*!40000 ALTER TABLE `chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversation`
--

DROP TABLE IF EXISTS `conversation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversation` (
  `conversationID` int NOT NULL AUTO_INCREMENT,
  `customerID` int NOT NULL,
  `userID` int NOT NULL,
  `last_message_at` datetime NOT NULL,
  `customer_unread_count` int NOT NULL DEFAULT '0',
  `user_unread_count` int NOT NULL DEFAULT '0',
  `status` enum('open','closed','pending') NOT NULL,
  PRIMARY KEY (`conversationID`),
  KEY `fk_conversation_customer` (`customerID`),
  KEY `fk_conversation_user` (`userID`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversation`
--

LOCK TABLES `conversation` WRITE;
/*!40000 ALTER TABLE `conversation` DISABLE KEYS */;
INSERT INTO `conversation` VALUES (1,1,0,'2025-11-01 14:34:23',0,2,'open'),(2,1223,0,'2025-11-01 15:00:18',0,11,'open'),(3,2,0,'2025-11-03 00:08:03',0,11,'open');
/*!40000 ALTER TABLE `conversation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `customerID` int NOT NULL AUTO_INCREMENT,
  `customerName` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `phone` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `email` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `birthdate` date DEFAULT NULL COMMENT 'Ng├áy sinh',
  `gender` enum('Nam','Nß╗»','Kh├íc') CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci DEFAULT NULL COMMENT 'Giß╗¢i t├¡nh',
  `password` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1=Hoß║ít ─æß╗Öng, 0=─É├ú kh├│a',
  `groupID` int DEFAULT NULL COMMENT 'ID nh├│m kh├ích h├áng',
  PRIMARY KEY (`customerID`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_status` (`status`),
  KEY `idx_gender` (`gender`),
  KEY `idx_birthdate` (`birthdate`),
  KEY `idx_groupID` (`groupID`)
) ENGINE=MyISAM AUTO_INCREMENT=1224 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_customer_update` AFTER UPDATE ON `customer` FOR EACH ROW BEGIN

    DECLARE cust_age INT;

    DECLARE cust_orders INT;

    DECLARE cust_spent DECIMAL(15,2);

    DECLARE best_group_id INT;

    

    IF NEW.birthdate IS NOT NULL AND NEW.gender IS NOT NULL THEN

        SET cust_age = TIMESTAMPDIFF(YEAR, NEW.birthdate, CURDATE());

        

        SELECT 

            COUNT(o.orderID),

            COALESCE(SUM(o.totalAmount), 0)

        INTO cust_orders, cust_spent

        FROM `order` o

        WHERE o.customerID = NEW.customerID AND o.paymentStatus != '─É├ú hß╗ºy';

        

        SELECT groupID INTO best_group_id

        FROM customer_group

        WHERE status = 1 

          AND autoAssign = 1

          AND (gender = 'Tß║Ñt cß║ú' OR gender = NEW.gender)

          AND (minAge IS NULL OR cust_age >= minAge)

          AND (maxAge IS NULL OR cust_age <= maxAge)

          AND (minOrders <= cust_orders)

          AND (minSpent <= cust_spent)

        ORDER BY priority DESC, discountPercent DESC

        LIMIT 1;

        

        IF best_group_id IS NOT NULL THEN

            UPDATE customer SET groupID = best_group_id WHERE customerID = NEW.customerID;

        END IF;

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `customer_group`
--

DROP TABLE IF EXISTS `customer_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_group` (
  `groupID` int NOT NULL AUTO_INCREMENT,
  `groupName` varchar(100) NOT NULL COMMENT 'T├¬n nh├│m',
  `description` text COMMENT 'M├┤ tß║ú nh├│m',
  `minSpent` decimal(10,0) DEFAULT '0' COMMENT 'Chi ti├¬u tß╗æi thiß╗âu ─æß╗â v├áo nh├│m',
  `maxSpent` decimal(10,0) DEFAULT NULL COMMENT 'Chi ti├¬u tß╗æi ─æa (NULL = kh├┤ng giß╗¢i hß║ín)',
  `color` varchar(7) DEFAULT '#6366f1' COMMENT 'M├áu sß║»c hiß╗ân thß╗ï (hex color)',
  `status` tinyint(1) DEFAULT '1' COMMENT '1=Hoß║ít ─æß╗Öng, 0=Tß║ím dß╗½ng',
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `isSystem` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`groupID`),
  KEY `idx_status` (`status`)
) ENGINE=MyISAM AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Nh├│m kh├ích h├áng theo chi ti├¬u';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_group`
--

LOCK TABLES `customer_group` WRITE;
/*!40000 ALTER TABLE `customer_group` DISABLE KEYS */;
INSERT INTO `customer_group` VALUES (1,'Bronze','Hß║íng ─Éß╗ông',1,4999999,'#cd7f32',1,'2025-10-30 05:13:38',0),(2,'Silver','Hß║íng Bß║íc',5000000,14999999,'#99a6b8',1,'2025-10-29 10:21:19',0),(3,'Gold','Hß║íng V├áng',15000000,29999999,'#fbbf24',1,'2025-10-29 10:21:19',0),(4,'Platinum','Hß║íng Bß║ích Kim',30000000,49999999,'#42e9ff',1,'2025-10-29 10:21:19',0),(5,'Diamond','Hß║íng Kim C╞░╞íng',50000000,NULL,'#2042ee',1,'2025-10-29 10:21:19',0),(8,'Kh├ích h├áng mß╗¢i','New',0,0,'#000000',1,'2025-10-30 05:17:15',1);
/*!40000 ALTER TABLE `customer_group` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_customer_group_update_reassign` AFTER UPDATE ON `customer_group` FOR EACH ROW BEGIN

    IF NEW.isSystem = 0 OR NEW.isSystem IS NULL THEN

        CALL auto_assign_customer_groups_by_spending();

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `order`
--

DROP TABLE IF EXISTS `order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order` (
  `orderID` int NOT NULL AUTO_INCREMENT,
  `orderDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `paymentStatus` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL COMMENT 'Chß╗¥ thanh to├ín, ─É├ú thanh to├ín, ─É├ú hß╗ºy',
  `totalAmount` decimal(10,0) NOT NULL,
  `paymentMethod` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `customerID` int NOT NULL,
  `note` text COLLATE utf8mb3_unicode_520_ci COMMENT 'Ghi ch├║ ─æ╞ín h├áng',
  `voucherID` int DEFAULT NULL,
  `userID` int DEFAULT NULL,
  `deliveryStatus` enum('Chß╗¥ x├íc nhß║¡n','─Éang tiß║┐n h├ánh vß║¡n chuyß╗ân','Ho├án th├ánh','─É├ú hß╗ºy') CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci DEFAULT 'Chß╗¥ x├íc nhß║¡n',
  `shippingCode` varchar(50) COLLATE utf8mb3_unicode_520_ci DEFAULT NULL COMMENT 'M├ú vß║¡n ─æ╞ín GHN',
  `shippingProvider` varchar(50) COLLATE utf8mb3_unicode_520_ci DEFAULT 'GHN' COMMENT '─É╞ín vß╗ï vß║¡n chuyß╗ân',
  `shippingFee` decimal(10,2) DEFAULT '0.00' COMMENT 'Ph├¡ vß║¡n chuyß╗ân',
  `cancelReason` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci COMMENT 'L├╜ do hß╗ºy ─æ╞ín h├áng',
  `transactionCode` varchar(50) COLLATE utf8mb3_unicode_520_ci DEFAULT NULL COMMENT 'M├ú giao dß╗ïch duy nhß║Ñt (GODIFA202511040001)',
  PRIMARY KEY (`orderID`),
  KEY `fk_order_user` (`customerID`),
  KEY `fk_order_voucher` (`voucherID`),
  KEY `idx_shipping_code` (`shippingCode`),
  KEY `idx_transaction_code` (`transactionCode`)
) ENGINE=MyISAM AUTO_INCREMENT=129 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order`
--

LOCK TABLES `order` WRITE;
/*!40000 ALTER TABLE `order` DISABLE KEYS */;
/*!40000 ALTER TABLE `order` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = '' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_order_update_assign_group` AFTER UPDATE ON `order` FOR EACH ROW BEGIN

    DECLARE customer_total_spent DECIMAL(15,2);DECLARE best_group_id INT;-- Chß╗ë chß║íy khi payment status thay ─æß╗òi

    IF NEW.paymentStatus != OLD.paymentStatus THEN

        -- T├¡nh tß╗òng chi ti├¬u cß╗ºa customer (kh├┤ng t├¡nh ─æ╞ín hß╗ºy)

        SELECT COALESCE(SUM(totalAmount), 0) INTO customer_total_spent

        FROM `order`

        WHERE customerID = NEW.customerID 

          AND paymentStatus = '─É├ú thanh to├ín';-- T├¼m nh├│m ph├╣ hß╗úp nhß║Ñt

        SELECT groupID INTO best_group_id

        FROM customer_group

        WHERE status = 1

          AND customer_total_spent >= minSpent

          AND (maxSpent IS NULL OR customer_total_spent <= maxSpent)

        ORDER BY minSpent DESC

        LIMIT 1;-- Cß║¡p nhß║¡t nh├│m cho customer

        IF best_group_id IS NOT NULL THEN

            UPDATE customer 

            SET groupID = best_group_id 

            WHERE customerID = NEW.customerID;END IF;END IF;END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `order_backup_before_fix`
--

DROP TABLE IF EXISTS `order_backup_before_fix`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_backup_before_fix` (
  `orderID` int NOT NULL DEFAULT '0',
  `orderDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `paymentStatus` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL COMMENT 'Chß╗¥ thanh to├ín, ─É├ú thanh to├ín, ─É├ú hß╗ºy',
  `totalAmount` decimal(10,0) NOT NULL,
  `paymentMethod` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `customerID` int NOT NULL,
  `note` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci COMMENT 'Ghi ch├║ ─æ╞ín h├áng',
  `voucherID` int DEFAULT NULL,
  `userID` int DEFAULT NULL,
  `deliveryStatus` enum('Chß╗¥ x├íc nhß║¡n','─Éang tiß║┐n h├ánh vß║¡n chuyß╗ân','Ho├án th├ánh','─É├ú hß╗ºy') CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci DEFAULT 'Chß╗¥ x├íc nhß║¡n',
  `shippingCode` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci DEFAULT NULL COMMENT 'M├ú vß║¡n ─æ╞ín GHN',
  `shippingProvider` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci DEFAULT 'GHN' COMMENT '─É╞ín vß╗ï vß║¡n chuyß╗ân',
  `shippingFee` decimal(10,2) DEFAULT '0.00' COMMENT 'Ph├¡ vß║¡n chuyß╗ân',
  `cancelReason` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci COMMENT 'L├╜ do hß╗ºy ─æ╞ín h├áng',
  `transactionCode` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci DEFAULT NULL COMMENT 'M├ú giao dß╗ïch duy nhß║Ñt (GODIFA202511040001)'
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_backup_before_fix`
--

LOCK TABLES `order_backup_before_fix` WRITE;
/*!40000 ALTER TABLE `order_backup_before_fix` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_backup_before_fix` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_delivery`
--

DROP TABLE IF EXISTS `order_delivery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_delivery` (
  `deliveryID` int NOT NULL AUTO_INCREMENT,
  `orderID` int NOT NULL,
  `recipientName` varchar(100) NOT NULL,
  `recipientEmail` varchar(100) DEFAULT NULL,
  `recipientPhone` varchar(20) NOT NULL,
  `address` varchar(255) NOT NULL,
  `ward` varchar(100) DEFAULT NULL,
  `district` varchar(100) NOT NULL,
  `city` varchar(100) NOT NULL,
  `provinceId` int DEFAULT NULL,
  `districtId` int DEFAULT NULL,
  `wardCode` varchar(20) DEFAULT NULL,
  `fullAddress` varchar(500) GENERATED ALWAYS AS (concat_ws(_utf8mb4', ',`address`,`ward`,`district`,`city`)) STORED,
  `deliveryNotes` text,
  `createdAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`deliveryID`),
  UNIQUE KEY `orderID` (`orderID`),
  KEY `idx_orderID` (`orderID`),
  KEY `idx_province_district` (`provinceId`,`districtId`),
  KEY `idx_ward` (`wardCode`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_delivery`
--

LOCK TABLES `order_delivery` WRITE;
/*!40000 ALTER TABLE `order_delivery` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_delivery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_details`
--

DROP TABLE IF EXISTS `order_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_details` (
  `orderID` int NOT NULL,
  `productID` int NOT NULL,
  `quantity` int NOT NULL,
  `price` decimal(10,0) NOT NULL,
  PRIMARY KEY (`orderID`,`productID`),
  KEY `fk_orderDetails_product` (`productID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_details`
--

LOCK TABLES `order_details` WRITE;
/*!40000 ALTER TABLE `order_details` DISABLE KEYS */;
INSERT INTO `order_details` VALUES (1,1,1,700000),(2,2,1,440000),(3,3,1,570000),(4,4,1,750000),(5,5,1,650000),(6,13,1,185000),(7,18,1,270000),(8,14,1,95000),(113,30,1,90000),(114,30,1,90000),(115,30,1,90000),(119,16,1,59000),(120,36,1,10000),(121,36,1,10000),(122,36,1,10000),(123,36,1,10000),(124,36,1,10000),(125,36,1,10000),(126,30,1,90000),(127,36,1,10000),(128,36,1,10000);
/*!40000 ALTER TABLE `order_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `productID` int NOT NULL AUTO_INCREMENT,
  `productName` varchar(150) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `SKU_MRK` varchar(30) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `stockQuantity` int NOT NULL,
  `price` float NOT NULL,
  `description` varchar(500) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `image` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `categoryID` int NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1=Hoß║ít ─æß╗Öng, 0=─É├ú kh├│a',
  PRIMARY KEY (`productID`),
  KEY `fk_product_category` (`categoryID`)
) ENGINE=MyISAM AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review`
--

DROP TABLE IF EXISTS `review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `review` (
  `reviewID` int NOT NULL AUTO_INCREMENT,
  `rating` int NOT NULL,
  `comment` varchar(500) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `dateReview` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `productID` int NOT NULL,
  `customerID` int NOT NULL,
  PRIMARY KEY (`reviewID`),
  KEY `fk_review_user` (`customerID`),
  KEY `fk_review_product` (`productID`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review`
--

LOCK TABLES `review` WRITE;
/*!40000 ALTER TABLE `review` DISABLE KEYS */;
INSERT INTO `review` VALUES (1,5,'Sß║ún phß║⌐m rß║Ñt tß╗æt, ─æ├║ng nh╞░ m├┤ tß║ú. Sß║╜ ß╗ºng hß╗Ö shop l├óu d├ái!','2025-10-15 11:00:00',1,1),(2,4,'Chß║Ñt l╞░ß╗úng oke, giao h├áng nhanh. Gi├í h╞íi cao nh╞░ng chß║Ñp nhß║¡n ─æ╞░ß╗úc.','2025-10-15 15:30:00',2,2),(3,5,'Vi├¬n uß╗æng bß╗ò n├úo n├áy d├╣ng rß║Ñt hiß╗çu quß║ú, cß║úm thß║Ñy tß╗ënh t├ío h╞ín hß║│n!','2025-10-16 10:00:00',2,3),(4,3,'Sß║ún phß║⌐m tß║ím ß╗òn, nh╞░ng ch╞░a thß║Ñy hiß╗çu quß║ú r├╡ rß╗çt.','2025-10-16 12:00:00',4,1),(5,5,'X├á b├┤ng th╞ím, d├╣ng da mß╗ïn m├áng. Rß║Ñt h├ái l├▓ng!','2025-10-14 09:00:00',13,3);
/*!40000 ALTER TABLE `review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `roleID` int NOT NULL AUTO_INCREMENT,
  `roleName` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  PRIMARY KEY (`roleID`)
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES (1,'Chß╗º Doanh Nghiß╗çp'),(2,'Nh├ón Vi├¬n Quß║ún Trß╗ï'),(3,'Nh├ón Vi├¬n B├ín H├áng'),(4,'Nh├ón Vi├¬n CSKH');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `userID` int NOT NULL AUTO_INCREMENT,
  `userName` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `email` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `password` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `phone` varchar(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `status` varchar(150) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `roleID` int NOT NULL,
  PRIMARY KEY (`userID`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_user_role` (`roleID`)
) ENGINE=MyISAM AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_customer_demographics`
--

DROP TABLE IF EXISTS `v_customer_demographics`;
/*!50001 DROP VIEW IF EXISTS `v_customer_demographics`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_customer_demographics` AS SELECT 
 1 AS `groupID`,
 1 AS `groupName`,
 1 AS `totalCustomers`,
 1 AS `maleCount`,
 1 AS `femaleCount`,
 1 AS `avgAge`,
 1 AS `minAge`,
 1 AS `maxAge`,
 1 AS `totalRevenue`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_customer_group_stats`
--

DROP TABLE IF EXISTS `v_customer_group_stats`;
/*!50001 DROP VIEW IF EXISTS `v_customer_group_stats`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_customer_group_stats` AS SELECT 
 1 AS `groupID`,
 1 AS `groupName`,
 1 AS `description`,
 1 AS `minSpent`,
 1 AS `maxSpent`,
 1 AS `status`,
 1 AS `totalCustomers`,
 1 AS `totalOrders`,
 1 AS `totalRevenue`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `voucher`
--

DROP TABLE IF EXISTS `voucher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `voucher` (
  `voucherID` int NOT NULL AUTO_INCREMENT,
  `voucherName` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `value` decimal(10,0) NOT NULL,
  `quantity` int NOT NULL,
  `startDate` date NOT NULL,
  `endDate` date NOT NULL,
  `requirement` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_520_ci NOT NULL,
  `status` tinyint(1) DEFAULT '1' COMMENT '1=active, 0=locked',
  PRIMARY KEY (`voucherID`)
) ENGINE=MyISAM AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_520_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voucher`
--

LOCK TABLES `voucher` WRITE;
/*!40000 ALTER TABLE `voucher` DISABLE KEYS */;
/*!40000 ALTER TABLE `voucher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voucher_group`
--

DROP TABLE IF EXISTS `voucher_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `voucher_group` (
  `voucherGroupID` int NOT NULL AUTO_INCREMENT,
  `voucherID` int NOT NULL COMMENT 'ID voucher',
  `groupID` int NOT NULL COMMENT 'ID nh├│m kh├ích h├áng',
  PRIMARY KEY (`voucherGroupID`),
  KEY `idx_voucher` (`voucherID`),
  KEY `idx_group` (`groupID`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='├ünh xß║í voucher - nh├│m kh├ích h├áng';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voucher_group`
--

LOCK TABLES `voucher_group` WRITE;
/*!40000 ALTER TABLE `voucher_group` DISABLE KEYS */;
INSERT INTO `voucher_group` VALUES (2,8,6),(4,9,3),(5,10,1);
/*!40000 ALTER TABLE `voucher_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `v_customer_demographics`
--

/*!50001 DROP VIEW IF EXISTS `v_customer_demographics`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_customer_demographics` AS select `cg`.`groupID` AS `groupID`,`cg`.`groupName` AS `groupName`,count(`c`.`customerID`) AS `totalCustomers`,count((case when (`c`.`gender` = 'Nam') then 1 end)) AS `maleCount`,count((case when (`c`.`gender` = 'Nß╗»') then 1 end)) AS `femaleCount`,avg(timestampdiff(YEAR,`c`.`birthdate`,curdate())) AS `avgAge`,min(timestampdiff(YEAR,`c`.`birthdate`,curdate())) AS `minAge`,max(timestampdiff(YEAR,`c`.`birthdate`,curdate())) AS `maxAge`,coalesce(sum((case when (`o`.`paymentStatus` <> '─É├ú hß╗ºy') then `o`.`totalAmount` else 0 end)),0) AS `totalRevenue` from ((`customer_group` `cg` left join `customer` `c` on((`cg`.`groupID` = `c`.`groupID`))) left join `order` `o` on((`c`.`customerID` = `o`.`customerID`))) where (`cg`.`status` = 1) group by `cg`.`groupID`,`cg`.`groupName` order by `cg`.`groupID` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_customer_group_stats`
--

/*!50001 DROP VIEW IF EXISTS `v_customer_group_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_customer_group_stats` AS select `cg`.`groupID` AS `groupID`,`cg`.`groupName` AS `groupName`,`cg`.`description` AS `description`,`cg`.`minSpent` AS `minSpent`,`cg`.`maxSpent` AS `maxSpent`,`cg`.`status` AS `status`,count(distinct `c`.`customerID`) AS `totalCustomers`,count(distinct `o`.`orderID`) AS `totalOrders`,coalesce(sum((case when (`o`.`paymentStatus` <> '─É├ú hß╗ºy') then `o`.`totalAmount` else 0 end)),0) AS `totalRevenue` from ((`customer_group` `cg` left join `customer` `c` on((`cg`.`groupID` = `c`.`groupID`))) left join `order` `o` on((`c`.`customerID` = `o`.`customerID`))) group by `cg`.`groupID`,`cg`.`groupName`,`cg`.`description`,`cg`.`minSpent`,`cg`.`maxSpent`,`cg`.`status` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-09 23:25:36
